<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }
    .student-img {
        width: 40px;
        height: 40px;
    }
    .mt-10 {
        margin-top: 10px;
    }
    nav {
        background: rebeccapurple !important;
    }
    .navbar a{
        text-decoration: none;color: #fff;
    }

</style>
<body>
<div>
    <nav class="navbar">
        <div class="container">
            <span class="navbar-brand" ><a href="/">STUDENT</a></span>
            <a class="float-right" href="/add" title="Add a New Player">Add New</a>
        </div>
    </nav>
    <div class="container">
        